#root {
    margin: 0;
    overflow: hidden;
    background: radial-gradient(circle at center, #d3d3d3 0%, #a9a9a9 100%);
  }
  
  canvas#myThreeJsCanvas {
    display: block;
    width: 100vw;
    height: 100vh;
    background: transparent; /* <-- important */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }